<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Books list</div>

  <!-- Table -->
  <table class="table">
    <thead>
          <tr>
            <th>ISBN</th>
            <th>Author</th>
            <th>Title</th>
          </tr>
        </thead>
        
        <tbody>
             <tr>
              <td><%= @book.ISBN %></td>
              <td><%= @book.Author %></td>
              <td><%= @book.Title %></td>
            </tr>
        </tbody>
    
  </table>
</div>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.Author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.Title %>
</p>

<p>
  <strong>Physical:</strong>
  <%= @book.physical %>
</p>

<p>
  <strong>Electronic:</strong>
  <%= @book.electronic %>
</p>

<p>
  <strong>Loandate:</strong>
  <%= @book.loanDate %>
</p>

<p>
  <strong>Returndate:</strong>
  <%= @book.returnDate %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
