<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.Author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.Title %>
</p>

<p>
  <strong>Physical:</strong>
  <%= @book.physical %>
</p>

<p>
  <strong>Electronic:</strong>
  <%= @book.electronic %>
</p>

<p>
  <strong>Loandate:</strong>
  <%= @book.loanDate %>
</p>

<p>
  <strong>Returndate:</strong>
  <%= @book.returnDate %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
