

<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
 <%= f.select :user, @users.collect{ |c| [c.name, c]}%>
 <%= f.select :book_id, @books.collect{ |b| [b.Title, b.id]} %>
  </div>
  <div class="field">
    <%= f.label "Physical" %> <br />
    <%= f.check_box :physical %> <br />
</div>
  
  
  <div class="actions"><%= f.submit 'Add', class: "btn btn-lg btn-primary" %></div>
<% end %>
